@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
}

html {
    font-family: 'Poppins', sans-serif;
}

.header-container {

    padding-bottom: 0.1em;
}

.navbar-container {
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 70vw;
    min-width: 880px;
    gap: 1.5em;
    padding-top: 3em;
    font-weight: 700;
}

.navbar-container:nth-child(1),
.cta-container:nth-child(1) {
    flex-grow: 1;
    flex-shrink: 1;
}

.navbar-links {
    display: flex;
    align-items: center;
    gap: 1em;
    margin-right: auto;
}

.navbar-login {
    display: flex;
    align-items: center;
    gap: 1em;
}

.navbar-login button {
    border-radius: 2em;
    padding: 0.1em 0.7em;
}

.form-container button {
    padding: 0.5em 1.5em;
    border-radius: 0.5em;
    white-space: nowrap;
}

.cta-container .cta-message-container button,
.secondary-cta-container button {
    border-radius: 2em;
    padding: 0.5em 1em;
}

.navbar-container .navbar-links a,
.navbar-login :nth-child(1) {
    color: #9E9AA8;
}

.navbar-login :nth-child(2),
.cta-container .cta-message-container button,
.secondary-cta-container button,
.form-container button {
    background-color: #2BD0D0;
    color: #FFFFFF;
}

.navbar-container .navbar-links a:hover,
.navbar-login :nth-child(1):hover {
    color: #34313D;
}

.navbar-login :nth-child(2):hover,
.cta-container .cta-message-container button:hover,
.form-container button:hover,
.secondary-cta-container button:hover {
    background-color: #9AE3E3;
}
.cta-container {
    display: flex;
    width: 70vw;
    margin: 5em auto;
    min-height: 460px;
    min-width: 880px;
}

.cta-image-container,
.cta-message-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 50vw;
}

.cta-message-container {
    align-items: flex-start !important;
    gap: 1em;
}

.message-container-control {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.message-container-control h1 {
    color: #34313D;
    font-family: 'Poppins', sans-serif;
    font-size: 3.5em;
    font-weight: 700;
    line-height: 1.3em;
}

.message-container-control p {
    color: #9E9AA8;
    line-height: 2em;
}

.cta-image-container img {
    height: 90%;
}

// main-container
.page-container {
    position: relative;
    height: 100vh;
    min-width: 980px;
}

.form-container {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    min-width: 880px;
    height: 11%;
    background-image: url('./assets/images/bg-shorten-desktop.svg');
    background-size: cover;
    background-repeat:no-repeat;
    background-color: #3A3054;
    border-radius: 0.5em;
}

input {
    padding: 0.4em 25em 0.4em 1em;
    border-radius: 0.5em;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

input[type="text"]::placeholder {
    opacity: 0.5;
    font-weight: 500;
}

.statistic-container {
    padding-top: 8em;
    text-align: center;
    background-color: #EFF1F7;
}

.statistic-container h3 {
    font-size: 40px;
    font-weight: 700;
}

.statistic-container p {
    padding-top: 1em;
    color: #9E9AA8;
    font-weight: 500;
}

.feature-wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 5em auto 0;
    width: 70%;
    min-width: 880px;
    height: 50vh;
    min-height: 600px;
}

.feature-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 26%;
    min-width: 200px;
    min-height: 320px;
    padding: 2em 1.2em 2em 1.2em;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #FFFFFF;
}

.feature-container:nth-child(2)::before,
.feature-container:nth-child(2)::after {
    content: '';
    position: absolute;
    top: 50%;
    background-color: #2BD0D0;
    height: 0.5em;
    width: 42.2%;
    transform: translateY(-50%);
}

.feature-container:nth-child(2)::before {
    left: 100%;
}

.feature-container:nth-child(2)::after {
    right: 100%;
}

.icons {
    position: absolute;
    top: -2.3em;
    left: 1em;
    background-color: #3A3054;
    padding: 0.6em;
    border-radius: 50%;
}

.feature-container.one {
    margin-top: 6em;
}

.feature-container.two {
    align-self: center;
}

.feature-container.three {
    margin-top: 11em;
}

section {
    text-align: left;
}

.feature-title {
    font-style: normal;
    font-weight: 700;
    color: #333;
    font-size: 1.3em;
}

.feature-intro {
    font-size: 1em;
    line-height: 1.8em;
    color: #9E9AA8;
    font-weight: 500;
}

.secondary-cta-container h3 {
    font-size: 1.5em;
    font-weight: 700;
    letter-spacing: -0.05em;
}

.secondary-cta-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
    height: 20vh;
    background-image: url(./assets/images/bg-boost-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #3A3054;
    color: #FFF;
}
// Footer
.footer-wrapper{
    background-color: #232127;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-container{
    display: flex;
    justify-content: space-between;
    color: #FFF;
    width: 70vw;
    padding-top: 4em;
    padding-bottom: 4em;
}
.brand-container{
    margin-right: auto;
}
.page-links{
    display: flex;
    gap: 7em;
}
.page-link{
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.page-link h3{
    margin-bottom: 1em;
    font-weight: 700;
    font-size: 1em;
} 
.page-link a {
    color: #BFBFBF;
    font-size: 0.9em;
}
.social-icon-container img:hover{
    background-color: #2BD0D0;
    cursor: pointer;
}
.page-link a:hover{
    color: #2BD0D0;
    cursor: pointer;
}
.social-icon-container{
    display: flex; 
    gap: 1.5em; 
    padding-left: 10em;
}